.header {
  display: flex;
  align-items: center;
  min-height: 30px;
  border-bottom: solid 1px #979797;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: auto;
  position: sticky;
  top: 0px;
  background-color: #d1d1d1;
  color: black;
}
