.row {
  display: flex;
  align-items: center;
  min-height: 30px;
  border-bottom: solid 1px #979797;
  font-weight: bold;
  text-transform: uppercase;
}

.row:hover {
  background-color: #e59f9b !important;
}

.row > div:not(:last-child) {
  border-right: solid 1px #979797;
}

.dots {
  position: absolute;
  top: -1px;
  right: 2px;
  font-size: 23px;
  transform: rotate(90deg);
}

.dots:hover {
  color: black;
  font-weight: bolder;
}

.dots:after {
  content: "\2807";
}
