.container {
  position: absolute;
  bottom: 2vh;
  min-width: 6vw;
  background-color: #ff9800;
  border-radius: 2px;
  color: white;
  text-align: center;
  box-shadow: #ffffff29 0px 3px 6px, #6c6c6c3b 0px 3px 6px;
  cursor: default;
  padding: 1rem;
}
