.detail-container {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #e7e7e7;
  cursor: auto;
  --margin-info: 10px;
  --margin-block: 20px;
}

.italic {
  font-style: italic;
}

.block {
  display: flex;
}

.block div {
  margin-right: var(--margin-block);
  margin-left: 10px;
}
.block span {
  margin-right: var(--margin-block);
}
.label {
  margin-left: 10px;
  font-weight: bold;
}

.first-block {
  margin-left: var(--margin-info);
}

.second-block {
  margin-left: var(--margin-info);
}

.second-sub-block {
  margin-left: var(--margin-info);
}

.third-block {
  margin-left: var(--margin-info);
}

.remove-all-styles input {
  all: unset;
}

.panel-buttons {
  --margin-panel-btn: 10px;
}

.panel-buttons input {
  margin: var(--margin-panel-btn);
}

.panel-buttons button {
  margin: var(--margin-panel-btn);
}

/* 
 * ##Device = Laptops, Desktops
 */
@media (max-width: 1395px) {
  /* CSS */
  .block {
    display: block !important;
  }
}
